[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.*"
dj-database-url = "*"
psycopg2-binary = "*"
pillow = "*"
whitenoise = "*"
django-storages = "*"
boto3 = "*"
more-itertools = "*"
requests = "*"
openpyxl = "*"

# Optional packages
natsort = "*"           # better sorting
gunicorn = "*"          # web server used on Heroku
django-jsoneditor = "*" # for editing JSON files in Admin

[requires]
# Should work for Python >=3.5, but we will use 3.8.3 on Heroku
python_full_version = "3.8.3"
