{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center h-75">
        
        <div class="card border border-warning" style="box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px; height: auto;">
            <div class="card-heading text-center"> 
                <h3 class="card-title" style="margin: 28px">
                    {% block header %}Please fill out the form for CSGAME{% endblock %}
                </h3>
                <hr style="border-top: 1px solid #FFC312;">
            </div>
                
            <div class="card-body" style="margin: auto">
                

  <div class="row" style="margin: auto">
      <form method="post" novalidate>
        {% csrf_token %}
        {% for field in form.visible_fields %}
          <p>
          {{ field.label_tag }}   
          <br>
                {% if field.errors %}
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                {% endif %}
          
          {{ field }}
          
<!--
          {% if field.help_text %}
            {{ field.help_text }}
          {% endif %}
-->        </p>  
    {% endfor %}
        <button type="submit" class="btn btn-success">{% block buttonText %}Submit{% endblock %}</button>
      </form>
        
  </div>    
            </div>
            
	   </div>
    </div>
</div>

{% endblock %}