#div {
  float: left;
  width: 300px;
  height: 200px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

#div2 {
  float: left;
  width: 300px;
  height: 200px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

.anyClass {
  height:150px;
  overflow-y: scroll;
}


