{% extends 'base.html' %}
{% load static %}

{% block css %}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}

<div class="container">

<div class="row text-center">
    <div class="col">
        {% if user.is_authenticated %}
            <h4>{{ user.username }}</h4>
        {% endif %}
    </div>

<div class="row justify-content-center">
    <h4>Thank you for your participation!</h4>
</div>
    
<div class="row justify-content-center">
    <img src="https://media.giphy.com/media/xThuW0uZfF3rwVan4I/giphy.gif" style="height: 60%">
</div>

<hr>    
    
    
</div>

{% endblock %}