{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static "css/phase02.css" %}">
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script> //Used to make drag and drop
function allowDrop(ev) {
  ev.preventDefault();
}

function drag(ev) {
  ev.dataTransfer.setData("text", ev.target.id);
}

function drop(ev) {

        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        ev.target.appendChild(document.getElementById(data));
    }    
    
    
document.addEventListener("dragstart", function(event) {
  // The dataTransfer.setData() method sets the data type and the value of the dragged data
  event.dataTransfer.setData("Text", event.target.id);
  
  // Output some text when starting to drag the p element
  document.getElementById("info").innerHTML = "Started to drag the attribute.";
  
  // Change the opacity of the draggable element
  event.target.style.opacity = "0.4";
});


// Output some text when finished dragging the p element and reset the opacity
document.addEventListener("dragend", function(event) {
  document.getElementById("info").innerHTML = "Finished dragging the attribute.";
  event.target.style.opacity = "1";
});
    
</script>

<script> // Card functions and send
    // Global vars
    var clicks = 0;
    var resultArr = [];
    
    function addcard() {
        // Add the number of cards
        clicks++;
        
        // Get card name from user
        var name = prompt("Please type the card name", "Choose one attribute as the name");
        
        if (name == null){
            window.alert("Card name cannot be empty!")
        } else {
            resultArr.push(name);
        }
      
        // Add aother card
        if (clicks <= 4){
            $("<div class=\"card\" id=\"div2\" ondrop=\"drop(event)\" ondragover=\"allowDrop(event)\" style=\"height: 200; width: 250; overflow-y: scroll\"><div class=\"card-title\">"+name+"</div></div>").insertAfter("#div3");
            
        }else if (clicks > 4 && clicks <= 8) {
            $("<div class=\"card\" id=\"div2\" ondrop=\"drop(event)\" ondragover=\"allowDrop(event)\" style=\"height: 200; width: 250; overflow-y: scroll\">"+name+"</div>").insertAfter("#div4");
        }else{
            window.alert("Too many cards added. Maybe regroup the attributes?");
        }
    }
    
    function send(){
        // get the value of CSRF token
        var CSRFtoken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
        // console.log(CSRFtoken)
        //post method 
        $.post('{% url 'phase02' %}', {
            'attributes': resultArr, 
            csrfmiddlewaretoken : CSRFtoken
        }, function(resultArr){});
        // location.reload();
    }
    
    function remcard() { // Haven't been implemented
        document.getElementById("div2").remove();
        clicks--;
    }
</script>

{% endblock %}

{% block content %}
<div class="container">

<div class="row">
    <div class="col">
        <h2>Phase 02: Reduce redundancy</h2>
    </div>
    <div class="col">
        <h2 id="info"></h2>
    </div>
</div>

    
<hr> <!--  Divider line  -->    
    
<div class="row">
    
    {% for label in labels %}
    <div class="col">  
        <div id="div" ondrop="drop(event)" ondragover="allowDrop(event)" style="overflow-y: scroll">
            {% with forloop.counter as outer_counter %}
            {% for lb in label %}
                <div class="card justify-content-center m-2" draggable="true" ondragstart="drag(event)" id="{{ outer_counter }}{{ forloop.counter }}" style="width: 150; height: 40">
                    <center id="d11" class="m-2">{{ lb }}</center>
                </div>
            {% endfor %}
            {% endwith %}
        </div>
    </div>
    {% endfor %}
</div>    

<hr> <!--  Divider line  -->
    
<!--  Categories  -->
<div class="row justify-content-center">
    
    <button class="btn btn-primary mr-3" onclick="addcard()" style="width: 100">
        Add Card
    </button>

    <button type="button"  class="btn btn-success" onclick="send()" style="width: 100">
        Submit
    </button>
    
</div>

    
    <form>
        {% csrf_token %}
    </form>

<div class="row">
    <div id="div3"></div>
    <!-- Sample card test
    <div class="card" id="div2" ondrop="drop(event)" ondragover="allowDrop(event)" style="height: 200; width: 250; overflow-y: scroll">
        <div class="card-title">Name</div>
    </div>
    -->
</div>
    
<div class="row pb-5 ">
    <div id="div4"></div>

</div>
    



{% endblock %}