{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static "css/phase02.css" %}">
{% endblock %}
{% block scripts %}
<script>
function allowDrop(ev) {
  ev.preventDefault();
}

function drag(ev) {
  ev.dataTransfer.setData("text", ev.target.id);
}

function drop(ev) {
  ev.preventDefault();
  var data = ev.dataTransfer.getData("text");
  ev.target.appendChild(document.getElementById(data));
}
</script>
{% endblock %}

{% block content %}
<div class="container">

<h2>Drag and Drop</h2>
<p>Drag the image back and forth between the two div elements.</p>

<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
  <img src="img_w3slogo.gif" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
    
</div>

<div id="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
</div>
{% endblock %}