{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static "css/phase02.css" %}">
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
function allowDrop(ev) {
  ev.preventDefault();
}

function drag(ev) {
  ev.dataTransfer.setData("text", ev.target.id);
}

function drop(ev) {
  ev.preventDefault();
  var data = ev.dataTransfer.getData("text");
  //console.log(data);
  ev.target.appendChild(document.getElementById(data));
}
 
</script>

<script>
    function addcard() {
        //$("<a>asd</a>").insertAfter(".res");   // Append new elements
        //var attr = document.getElementById("drag11").getElementsByTagName("center");
        //console.log(attr);
        var el = {};
        var els = document.getElementById("div2").getElementsByTagName("*"); //array
        
        //console.log(els[0].getElementsByTagName("*"));
        var elms = els[0].getElementsByTagName("*");
        var elm = elms[0];
        
        //test print
        //console.log(elm.innerHTML);
        
        $(elm).insertAfter(".res"); //this sorta works but it clears the value inside the box
        //this shouldn't be a problem if we are getting rid of the boxes after "add card" is clicked
        
        /* TESTER. ignore this
        var elm = {};
        var elms = document.getElementById("drag11").getElementsByTagName("*");
        for (var i = 0; i < elms.length; i++) {
            if (elms[i].id === "d11") {
                elm = elms[i];
                break;
            }
        }
        console.log(elm.innerHTML);
        */
        //var txt = attr.getElementsByTagName("CENTER").innerHTML;
        //console.log(txt);
        //txt.insertAfter(".res");
    }
</script>
{% endblock %}

{% block content %}
<div class="container">
<!--Helpful link: https://mdbootstrap.com/plugins/jquery/draggable/-->
<h2>Phase 02: Classification</h2>
    
<hr> <!--  Divider line  -->    
    
<div class="row">
    
    <!--  Used to show the attribute list  -->
    <div class="col">  <!--  List 1  -->
        <div id="div" ondrop="drop(event)" ondragover="allowDrop(event)" style="overflow-y: scroll">
            <div class="card justify-content-center m-2" draggable="true" ondragstart="drag(event)" id="drag11" style="width: 150; height: 40">
                <center id="d11" class="m-2">facing right</center>
            </div>
            <div class="card justify-content-center m-2" draggable="true" ondragstart="drag(event)" id="drag12" style="width: 150; height: 40">
                <center class="m-2">has wings</center>
            </div>
            <div class="card justify-content-center m-2" draggable="true" ondragstart="drag(event)" id="drag13" style="width: 150; height: 40">
                <center class="m-2">background is sky</center>
            </div>
            <div class="card justify-content-center m-2" draggable="true" ondragstart="drag(event)" id="drag14" style="width: 150; height: 40">
                <center class="m-2">xiao hu</center>
            </div>
        </div>
    </div>
    
    <div class="col">  <!--  List 2  -->
        <div id="div" ondrop="drop(event)" ondragover="allowDrop(event)" style="overflow-y: scroll;">
            <div class="card justify-content-center m-2" draggable="true" ondragstart="drag(event)" id="drag21" style="width: 150; height: 40;">
                <center class="m-2">facing right</center>
            </div>
            <div class="card justify-content-center m-2" draggable="true" ondragstart="drag(event)" id="drag22" style="width: 150; height: 40">
                <center class="m-2">has wings</center>
            </div>
            <div class="card justify-content-center m-2" draggable="true" ondragstart="drag(event)" id="drag23" style="width: 150; height: 40">
                <center class="m-2">background is sky</center>
            </div>
            <div class="card justify-content-center m-2" draggable="true" ondragstart="drag(event)" id="drag24" style="width: 150; height: 40">
                <center class="m-2">SionWHO</center>
            </div>
        </div>
    </div>
    
    <div class="col">  <!--  List 3  -->
        <div id="div" ondrop="drop(event)" ondragover="allowDrop(event)" style="overflow-y: scroll">
            <div class="card justify-content-center m-2" draggable="true" ondragstart="drag(event)" id="drag31" style="width: 150; height: 40">
                <center class="m-2">facing right</center>
            </div>
            <div class="card justify-content-center m-2" draggable="true" ondragstart="drag(event)" id="drag32" style="width: 150; height: 40">
                <center class="m-2">has wings</center>
            </div>
            <div class="card justify-content-center m-2" draggable="true" ondragstart="drag(event)" id="drag33" style="width: 150; height: 40">
                <center class="m-2">background is sky</center>
            </div>
            <div class="card justify-content-center m-2" draggable="true" ondragstart="drag(event)" id="drag34" style="width: 150; height: 40">
                <center class="m-2">sion</center>
            </div>
        </div>
    </div>
</div>    

<hr> <!--  Divider line  -->
    
<!--  Categories  -->
<div class="row">
    <div class="col-2 d-flex justify-content-start">
        <button class="btn btn-success" onclick="addcard()">Add Card</button>
    </div>
    
    <div class="col-8 d-flex justify-content-start">
<!--        <img src="https://dcassetcdn.com/design_img/1095918/76777/76777_5846308_1095918_image.png" style="height: 40; width: 40" alt="jQuery">-->
        <div class="res" id="div2" ondrop="drop(event)" ondragover="allowDrop(event)" style="height: 200; width: 250;"></div>
    </div>
    
</div>
    
</div>

{% endblock %}