{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static "css/phase01.css" %}">
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


{% endblock %}

{% block content %}
<div class="container">

<h2>Phase 01: Collect attributes</h2>    
<hr> <!--  Divider line  -->    
    
<div class="row">
        
    <!-- IMAGES -->
        <div class="col-md-9">
        <div class="row mt-3">
            <div class="card col" style="height: 35%;">
                <div class="card-body">
                    <img src="{{ url1 }}" id="img1" class="d-inline-block img-fluid" style="height: 10rem; width: 30rem">
                </div> 
            </div>
            
            <div class="card col" style="height: 35%">
                <div class="card-body">
                    <img src="{{ url2 }}" id="img2" class="d-inline-block img-fluid" style="height: 10rem; width: 30rem">
                </div> 
            </div>
        </div>
    
        <div class="row">
            <div class="card col" style="height: 35%">
                <div class="card-body">
                    <img src="{{ url3 }}" id="img3" class="d-inline-block img-fluid" style="height: 10rem; width: 30rem">
                </div> 
            </div>
            <div class="card col" style="height: 35%">
                <div class="card-body">
                    <img src="{{ url4 }}" id="img4" class="d-inline-block img-fluid" style="height: 10rem; width: 30rem">
                </div> 
            </div>
        </div>
        </div>
    <!-- END IMAGES -->
    
    <br>
    
    <div class="col-md-3 mt-3">
        
    <!-- INPUT BAR -->
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <button id="btn" class="btn btn-success">Input</button>
            <input id="id_test" type="text" name="attribute" maxlength="20">
            <button id="nextbtn" class="btn btn-primary">Next</button>
        </div>
    </div>
    <!-- END INPUT BAR -->
        
    <!--  History of typed in attributes  -->
    <div class="card" style="width: 118%; height: 62%">
        <div class="card-content">
            <ul id="list"></ul>
        </div>
    </div>
        
    </div>

    <form>
        {% csrf_token %}
    </form>
<script>
        var image_list = {{ json_list|safe }}
        // alert(image_list)
        //input button listener when clicked
        document.getElementById("btn").addEventListener("click", function() {
            var txtVal = document.getElementById("id_test").value.toLowerCase(); //gets inputted string
            var element = $("#list:contains(" + txtVal + ")"); //checks if list contains string. returns -1 if not

            if (document.getElementById("id_test").value != "" && element.length <= 0) { //makes sure no empty input and not already inputted
                var txt = document.getElementById("id_test").value.toLowerCase(); //inputted text
                addLi(); //adds to list
                console.log(txt); //puts entered string on console
            }
            document.getElementById("id_test").value = ""; //clear entry field
        });
    
    
        //input bar listener when "enter" is hit
        document.getElementById("id_test").addEventListener("keyup", function(event) {
                event.preventDefault();
                if (event.keyCode === 13 && document.getElementById("id_test").value != "") { //make sure space is hit and input box is not empty string
                    document.getElementById("btn").click(); //basically calls the button click function
                }
            });
    
        //next button listener
        $('#nextbtn').click(function(event){
            // alert("New Images Inbound!")
            var resultArray = [];
            if (document.getElementById("list").getElementsByTagName("li").length != 0) {
                //retrieve the values and store it
                $('#list li').each(function(){
                    resultArray.push($(this).text());
                });
                //alert(resultArray);
                //remove the list
                $('li').remove();
            
            // get the value of CSRF token
            var CSRFtoken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
            // console.log(CSRFtoken)
            //post method 
            $.post('{% url 'phase01' %}', {
                'data': resultArray,
                'img_list' : image_list, 
                csrfmiddlewaretoken : CSRFtoken
            }, function(data){});
            // reload the webpage to set new images
            location.reload();
            }
        })

	$(function() {
        
    // Consider remove it
    var $body = $(document);
    $body.bind('scroll', function() {
        // "Disable" the horizontal scroll.
        if ($body.scrollLeft() !== 0) {
            $body.scrollLeft(0);
        }
    });

}); 
</script>
    <!-- END SCRIPT -->

    <!-- add attributes to the list -->
    <script>
        function addLi() {
            var txtVal = document.getElementById("id_test").value.toLowerCase(),
                listNode = document.getElementById('list'),
                liNode = document.createElement("LI"),
                txtNode = document.createTextNode(txtVal);
            liNode.appendChild(txtNode);
            listNode.appendChild(liNode);
            //console.log(listNode);
        }
    </script>

</div>
</div>

{% endblock %}
