{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static "css/phase01.css" %}">
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


{% endblock %}

{% block content %}
<div class="container">

<div class="row">
    <h2>Phase 01: Collect attributes
        <button class="btn btn-info" data-toggle="modal" data-target="#myModal">How to Play?</button>
    </h2>    
</div>
    
    
<!--  Used to test the admin Phase01_instruction model  -->
{% for inst in instructions %}
<!--
    {{ inst.instruction }}
    {{ inst.imglink }}
-->
    <a>counter: {{ forloop.counter0 }}</a>
    <p>order: {{ inst.order }}</p>
{% endfor %}

    <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 250%; margin-left: -400px;margin-top: 150px">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                
                <ol class="carousel-indicators">
                    {% for inst in instructions %}
                        {% if forloop.counter == 0 %}
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>    
                        {% else %}
                            <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter }}"></li>        
                        {% endif %}
                    {% endfor %}
                </ol>
                
                <div class="carousel-inner">                    
                    {% for inst in instructions %}
                        {% if forloop.counter0 == 0 %}
                            <div class="carousel-item active">
                                <img src="{{ inst.imglink }}" class="d-block w-100" alt="phase01">
                                <div class="bg-secondary text-center">
                                    <a>{{ inst.instruction }}</a>
                                </div>
                            </div>
                        {% else %}
                            <div class="carousel-item">
                                <img src="{{ inst.imglink }}" class="d-block w-100" alt="phase01">
                                <div class="bg-secondary text-center">
                                    <a>{{ inst.instruction }}</a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>

<hr> <!--  Divider line  -->    
    
<div class="row">
        
    <!-- IMAGES -->
        <div class="col-md-9">
        <div class="row mt-3">
            <div class="card col" style="height: 35%;">
                <div class="card-body">
                    <img src="{{ url1 }}" id="img1" class="d-inline-block img-fluid" style="height: 10rem; width: 30rem">
                </div> 
            </div>
            
            <div class="card col" style="height: 35%">
                <div class="card-body">
                    <img src="{{ url2 }}" id="img2" class="d-inline-block img-fluid" style="height: 10rem; width: 30rem">
                </div> 
            </div>
        </div>
    
        <div class="row">
            <div class="card col" style="height: 35%">
                <div class="card-body">
                    <img src="{{ url3 }}" id="img3" class="d-inline-block img-fluid" style="height: 10rem; width: 30rem">
                </div> 
            </div>
            <div class="card col" style="height: 35%">
                <div class="card-body">
                    <img src="{{ url4 }}" id="img4" class="d-inline-block img-fluid" style="height: 10rem; width: 30rem">
                </div> 
            </div>
        </div>
        </div>
    <!-- END IMAGES -->
    
    <br>
    
    <div class="col-md-3 mt-3">
        
    <!-- INPUT BAR -->
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <button id="btn" class="btn btn-success">Input</button>
            <input id="id_test" type="text" name="attribute" maxlength="20">
            <button id="nextbtn" class="btn btn-primary">Next</button>
        </div>
        
        <div id="alrt">
            Enter an attribute
        </div>
    </div>
    <!-- END INPUT BAR -->
        
    <!--  History of typed in attributes  -->
    <div class="card" style="width: 118%; height: 58.8%"> <!-- height was 62% -->
        <div class="card-content">
            <ul id="list"></ul>
        </div>
    </div>
        
    </div>

    <form>
        {% csrf_token %}
    </form>
<script>
        var image_list = {{ json_list|safe }}
        // alert(image_list)
        //input button listener when clicked
        numAttributes = 0;
        document.getElementById("btn").addEventListener("click", function() {
            var txtVal = document.getElementById("id_test").value.toLowerCase(); //gets inputted string
            var element = $("#list:contains(" + txtVal + ")"); //checks if list contains string. returns -1 if not
            if (document.getElementById("id_test").value != "" && element.length <= 0) { //makes sure no empty input and not already inputted
                var txt = document.getElementById("id_test").value.toLowerCase(); //inputted text
                addLi(); //adds to list
                console.log(txt); //puts entered string on console
                numAttributes++;
                if (numAttributes >= 8) {
                    setTimeout(alertAttr, 0);
                }
            }
            document.getElementById("id_test").value = ""; //clear entry field
        });
    
        //input bar listener when "enter" is hit
        document.getElementById("id_test").addEventListener("keyup", function(event) {
            event.preventDefault();
            if (event.keyCode === 13 && document.getElementById("id_test").value != "") { //make sure space is hit and input box is not empty string
                document.getElementById("btn").click(); //basically calls the button click function
            }
            
            var inputLength = document.getElementById("id_test").value.length;
            
            if (inputLength >= 20) {
                document.getElementById("alrt").innerHTML = "maximum 20 character limit";
            } else {
                document.getElementById("alrt").innerHTML = "Enter an attribute";
            }
        });
    
        //next button listener
        $('#nextbtn').click(function(event){
            // alert("New Images Inbound!")
            var resultArray = [];
            if (document.getElementById("list").getElementsByTagName("li").length != 0) {
                //retrieve the values and store it
                $('#list li').each(function(){
                    resultArray.push($(this).text());
                });
                //alert(resultArray);
                //remove the list
                $('li').remove();
            
                // get the value of CSRF token
                var CSRFtoken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
                // console.log(CSRFtoken)
                //post method 
                $.post('{% url 'phase01' %}', {
                    'data': resultArray,
                    'img_list' : image_list, 
                    csrfmiddlewaretoken : CSRFtoken
                }, function(data){});
                // reload the webpage to set new images
                location.reload();
                numAttributes = 0;
            }
        })
	$(function() {
        
    // Consider remove it
    var $body = $(document);
    $body.bind('scroll', function() {
        // "Disable" the horizontal scroll.
        if ($body.scrollLeft() !== 0) {
            $body.scrollLeft(0);
        }
    });
}); 
</script>
    <!-- END SCRIPT -->

    <!-- add attributes to the list -->
    <script>
        function addLi() {
            var txtVal = document.getElementById("id_test").value.toLowerCase(),
                listNode = document.getElementById('list'),
                liNode = document.createElement("LI"),
                txtNode = document.createTextNode(txtVal);
            liNode.appendChild(txtNode);
            listNode.appendChild(liNode);
            //console.log(listNode);
        }
        
        function alertAttr() {
            alert("maximum number of images 8 reached. Next images...");
            document.getElementById("nextbtn").click();
        }
    </script>

</div>
</div>

{% endblock %}