{% extends 'base.html' %}
{% load static %}

{% block css %}
{% endblock %}

{% block scripts %}

{% endblock %}

{% block content %}

<div class="container" style="padding-top: 50px;">

    <div id = "header" style="text-align: center;">
        <h2 style="padding-top: 80px">About: CAM2 Crowdsourcing Team</h2>
    </div>

<hr> <!--  Divider line  -->

<div class="container" style="width: 80%; " >
<div class="row">
    <h4>
        Crowdsourcing Team of <a href="https://www.cam2project.net" style="color: yellow">Purdue CAM2 Research Group</a> was established in 2019 Spring semester, dedicate to find the crowdsourcing approaches for biased image database problem. 
    </h4>
</div>
<hr> <!--  Divider line  -->
<div class="row">
    <h4>
        Team member: 
        <a href="https://www.cs.purdue.edu//people/faculty/mingyin/" style="color: white">Ming Yin (professor)</a>, 
        <a href="https://purduehelps.org/people.html#crowdsourcing-for-data-bias" style="color: white">Xiao Hu(team leader), Haobo Wang, Gore Kao, Anirudh Vegesana, Somesh Dube, Kaiwen Yu. </a>
    </h4>
</div>
<hr> <!--  Divider line  -->
<div class="row">
    <h4>
        Research focus: Detect and report the biased attributes in the image datasets by utilizing crowdsourcing. 
    </h4>
</div>
<hr> <!--  Divider line  -->
<div class="row">
    <h4>
        Publication: <b>Discovering Biases in Image Datasets with the Crowd</b><br>
        <div style="font-size: medium">Accepted by <a href="https://www.humancomputation.com" style="color: yellow">2019 Human Computation and Crowdsourcing Conference(2019HCOMP)</a> Work-in-progress track.</div>
    </h4>
</div>
</div>


{% endblock %}