{% extends 'base.html' %}
{% load static %}

{% block css %}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}

<form>
    {% csrf_token %}
</form>

<div class="container " style="display: none;" id="loading-image" alt="Loading..." >
    <div class="row align-items-cente justify-content-center">
        <img src="https://media.giphy.com/media/l0He4fJxPCbfqv7Xi/giphy.gif" style="height: 60%;" />
    </div>
</div>

<div class="container">

<div class="row justify-content-center text-center">
    <h4>Thank you for your work.<br> Here is your session key : <b style="color:yellow"> %sadvfa65fdvw% </b>
    </h4>
</div>

<hr>

    <div style="text-align: center;padding-bottom: 100px">
        <a class="btn btn-lg btn-success">Go Back to MTurk</a>
    </div>

</div>

{% endblock %}