{% extends 'base.html' %}
{% load static %}

{% block css %}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}

<form>
    {% csrf_token %}
</form>

<div class="container " style="display: none;" id="loading-image" alt="Loading..." >
    <div class="row align-items-cente justify-content-center">
        <img src="https://media.giphy.com/media/l0He4fJxPCbfqv7Xi/giphy.gif" style="height: 60%;" />
    </div>
</div>

<div class="container" style="padding-bottom: 100px">

<div class="row justify-content-center text-center" style="padding-top: 100px">

    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">Thank you for your work!</h4>
        <br>
        <h5>Please<b> click the button </b>below to go back to MTurk page.</h5>
        <hr>

        <div style="text-align: center">
            <form name="mturk" method="post" action="https://workersandbox.mturk.com/mturk/externalSubmit" style="text-align: center"> <!--Sandbox link, official link: https://workersandbox.mturk.com/mturk/externalSubmit -->
            <input type="hidden" name="assignmentId" value={{ request.COOKIES.assignmentid }}>
            <input type="hidden" name="hitId" value={{ request.hit.hitId }}>
            <input type="submit" class= "btn btn-lg btn-success" value="Go Back to MTurk" >
        </form>
        </div>
    </div>

</div>

</div>

{% endblock %}
