{% extends 'base.html' %}

{% block content %}

<div class="container">
    {% if messages %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
      {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
      {% endfor %}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %}
  
        <div class="row justify-content-center align-items-center">
        <center>

            <img src="static/img/crowdsourcing.jpg" class="img-fluid m-3" alt="Responsive image" style="opacity: 0.7;box-shadow: 10px 10px 5px rgba(0,0,0,0.2)">

            <div style="padding-top: 20px">
                <h2 style="font-style: italic;font-size: 45px">Welcome to the Crowdsourcing Game!</h2>
            </div>

            <hr>
            <a href="{% url 'phase01a' %}">
                <button class="btn btn-lg btn-outline-light"><span><i class="fa fa-gamepad"></i></span> Start the Game</button>
            </a>
        </center>
        </div>
</div>
{% endblock %}