{% extends 'base.html' %}
{% load static %}

{% block css %}
{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}

{% block content %}

<form>
    {% csrf_token %}
</form>

<div class="container " style="display: none;" id="loading-image" alt="Loading..." >
    <div class="row align-items-cente justify-content-center">
        <img src="https://media.giphy.com/media/l0He4fJxPCbfqv7Xi/giphy.gif" style="height: 60%;" />
    </div>
</div>

<div class="container">

<div class="row justify-content-center text-center">
  {% if roundNums %}
    <h4>Many thanks for <a style="color: orange">your</a> participation!</h4>
  {% else %}
    <h4>Sorry. The game is over.</h4>
  {% endif %}
</div>

<hr>

<div style="text-align: center">
  {% if roundNums %}
    <h5>Please<b> click the button </b>below to go back to MTurk page.</h5>
    <hr>
    <div style="text-align: center">
        <!-- <form name="mturk" method="post" action="{{ request.COOKIES.submissionUrl }}/mturk/externalSubmit" style="text-align: center"> -->
            <form name="mturk" method="post" action="https://workersandbox.mturk.com/mturk/externalSubmit" style="text-align: center">
            <input type="hidden" name="assignmentId" value="{{ request.GET.assignmentId }}">
            <input type="hidden" name="hitId" value="{{ request.hit.hitId }}">
            <input type="hidden" name="questions" value="{{ request.hit.questions|make_list|escape }}">
            <input type="hidden" name="answers" value="{{ request.hit.answers|make_list|escape }}">
            <input type="submit" class= "btn btn-lg btn-success" value="Go Back to MTurk" >
        </form>
    </div>
<!--     <h5>Click the button below to fill in the feedback survey and finish <b style="color: yellow"> final submission </b>to MTurk!</h5>
    {% if phase == 'phase01a' %}
    <a href="https://docs.google.com/forms/d/e/1FAIpQLScXGcYai89-FwQkxvmpmXlkbRo_mNaFHPmiqAXz2ZmlDwEG6w/viewform?usp=sf_link" class="btn btn-lg btn-success">Go to feedback</a>
    {% elif phase == 'phase01b' %}
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfRkpNMT9sWdz4wx3uhriDKpBKaCgn0A4cNl8ZdxbvDjK9NHA/viewform?usp=sf_link" class="btn btn-lg btn-success">Go to feedback</a>
    {% else %}
    <a href="https://docs.google.com/forms/d/e/1FAIpQLScbVEuQMn2sM2kDA61QbFg50h6WvRCQG88nO0RVslWR51lMdQ/viewform?usp=sf_link" class="btn btn-lg btn-success">Go to feedback</a>
    {% endif %} -->
  {% else %}
    <h5>You can play the game when it opens again.</h5>
  {% endif %}
</div>

<div class="row align-items-cente justify-content-center">
    <img src="https://media.giphy.com/media/xThuW0uZfF3rwVan4I/giphy.gif" style="height: 60%">
</div>

</div>

{% endblock %}
