{% extends 'base.html' %}
{% load static %}

{% block css %}
{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}

{% block content %}

<form>
    {% csrf_token %}
</form>

<div class="container " style="display: none;" id="loading-image" alt="Loading..." >
    <div class="row align-items-cente justify-content-center">
        <img src="https://media.giphy.com/media/l0He4fJxPCbfqv7Xi/giphy.gif" style="height: 60%;" />
    </div>
</div>

<div class="container">

<div class="row justify-content-center text-center">
    <h4>Many thanks for <a style="color: orange">your</a> participation!</h4>
</div>

<div class="row align-items-cente justify-content-center">
    <img src="https://media.giphy.com/media/xThuW0uZfF3rwVan4I/giphy.gif" style="height: 60%">
</div>

<hr>

    <div style="text-align: center">
        <h5>Click the button below to fill in the feedback survey and get<b style="color:yellow"> Session Key </b>for final submission to MTurk!</h5>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScXGcYai89-FwQkxvmpmXlkbRo_mNaFHPmiqAXz2ZmlDwEG6w/viewform?usp=sf_link" class="btn btn-lg btn-success">Go to feedback</a>
    </div>





</div>

{% endblock %}