{% extends 'base.html' %}
{% load static %}

{% block css %}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}

<div class="container " style="display: none;" id="loading-image" alt="Loading..." >
    <div class="row h-100 align-items-cente justify-content-center">
        <img src="https://media.giphy.com/media/l0He4fJxPCbfqv7Xi/giphy.gif" style="height: 60%;" />
    </div>
</div>

<div class="container">

<div class="row justify-content-center text-center">
    <h4>A band of baboons has been specially assembled to reduce the redundancy for us.</h4>
    <h5>No work is needed on your part.</h5>
</div>
    
<div class="row h-50 align-items-cente justify-content-center">
    <img src="https://media0.giphy.com/media/VjAB0fOmK15Ze/giphy.gif" style="height: 95%">
</div>
    
<div class="row h-25 justify-content-center text-center">
    <h5>Enjoy. &#x1F601;</h5>
</div>

<hr>    
    
</div>

{% endblock %}