{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static "css/phase01.css" %}">
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

{% endblock %}

{% block content %}
    <div class="container">

    <div class="row">
    <h2>Phase 01-a: Q&A Collection
        <button class="btn btn-info" data-toggle="modal" data-target="#myModal">How to Play?</button>
    </h2>
    </div>

        <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 250%; margin-left: -400px;margin-top: 80px">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

                <ol class="carousel-indicators">
                    {% for inst in instructions %}
                        {% if forloop.counter == 0 %}
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        {% else %}
                            <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter }}"></li>
                        {% endif %}
                    {% endfor %}
                </ol>

                <div class="carousel-inner">
                    {% for inst in instructions %}
                        {% if forloop.counter0 == 0 %}
                            <div class="carousel-item active">
                                <img src="{{ inst.imglink }}" class="d-block w-100" alt="phase01">
                                <div class="bg-secondary text-center">
                                    <a style="font-size: 150%">{{ inst.instruction }}</a>
                                </div>
                            </div>
                        {% else %}
                            <div class="carousel-item">
                                <img src="{{ inst.imglink }}" class="d-block w-100" alt="phase01">
                                <div class="bg-secondary text-center">
                                    <a style="font-size: 150%">{{ inst.instruction }}</a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>

    <hr> <!--  Divider line  -->

    <div class="row">

        <div class="col-md-6">

            <!-- IMAGE -->
            <div class="row">
                    <div class="card col" style="height: 50%;">
                        <div class="card-body">
                            <img src="{{ url }}" id="img1" class="d-inline-block img-fluid" style="height: 10rem; width: 30rem">
                        </div>
                    </div>
            </div>
            <!-- END IMAGE -->

            <!-- Previous Q&A List -->
            <div class="row">
                <div class="col-md-9 mt-3 ml-5">
                    <label style="font-size: x-large">Previous Q&A</label>
                    <div class="card" style="width: 100%; height: 50.5%;max-height: 10rem; overflow-y: auto"> <!-- height was 62% -->
                        <div class="card-content">
                            <ul id="pre-list">
                                <br>
                                {% for preq in questions%}
                                <li>Q: {{ preq.text }}?<br>
                                <div class="form-check-inline"></div>
                                <label class = "form-check-label" for="wrong">
                                    <input class = "form-check-inline" type="checkbox" id = "wrong{{ forloop.counter }}">
                                    Wrong</label>
                                </li> <hr>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-md-6" style="display: none; position: absolute" id="loading-image" alt="Loading..." >
            <img src="https://media.giphy.com/media/l0He4fJxPCbfqv7Xi/giphy.gif" style="margin-left: 150px; margin-top: 30px"/>
        </div>


        <div class="col-md-6">

            <!-- INPUT BAR -->
            <label style="font-size: x-large">Enter A New Q&A Pair</label>
            <div class="row-md-10" style="font-size:110%">
                <div class="input-group m-3">
                    Q: What 
                    <div class="input-group-prepend ml-1 mr-1">
                            <select id="is/are">
                                <option value="is">is</option>
                                <option value="are">are</option>  
                            </select>
                    </div>
                    <input class="form-control-sm" id="Q1" type="text" name="Q1" maxlength="40">
                    <div class="input-group-prepend ml-1 mr-1">
                            <select id="of">
                                <option value="of">of</option>
                                <option value=" "></option>  
                            </select>
                        </div>
                    <input class="form-control-sm" id="Q2" type="text" name="Q2" maxlength="40">
                    
                </div>
                <div class="input-group mb-3 ml-3">
                    <div class="input-group-prepend">
                        A: <input class="form-control-sm ml-2" id="A" type="text" name="A" maxlength="40">
                    </div>
                </div>
                <button id="add" class="btn btn-success ml-3 mb-2" >Add</button>
            </div>
            <!-- END INPUT BAR -->

            <hr> <!--  Divider line  -->

            <!-- Q&A LIST -->
            <div class="row mt-3">
                <div class="col-md-12 ml-3">
                    <div class="card" style="width: 100%; height: 50.5%"> <!-- height was 62% -->
                        <div class="card-content">
                            <div class="row-md-11">
                                <!--<div class="col">
                                    <ul id="list_q" ></ul>
                                </div>
                                <div class="col">
                                    <ul id="list_a"></ul>
                                </div> -->
                                <ul><a id="list_all" ></a></ul>
                                <ul hidden id="list_a" ></ul>
                                <ul hidden id="list_q" ></ul>
                            </div>
                        </div>
                    </div>
                    <button id="delete" class="btn btn-danger float-left mt-2">Undo</button>
                    <button id="nextbtn" class="btn btn-warning float-right mt-2" >Next</button>
                </div>
            </div>
            <!-- END Q&A LIST -->

        </div>

        <form>
        {% csrf_token %}
        </form>
        
        <script>
    
        var dict = {}
        var resultArr = {
            "dict" : {},
        }    
        

            function rank(){
                {% for q in questions %}
                    if(document.getElementById("wrong{{ forloop.counter }}").checked == true){
                        resultArr['dict']["{{ q.text }}"] = -1;
                    }
                    else if(document.getElementById("wrong{{ forloop.counter }}").checked == false){
                        resultArr['dict']["{{ q.text }}"] = 0;
                    }
                {% endfor %}
            resultArr['dict']= JSON.stringify(resultArr['dict']);
            }

</script>

        
        <script>
            
        //"add" button listener when clicked
        numQA = 0;
        var listNode_q = document.createElement("ul");
        var listNode_a = document.createElement("ul");
            
        document.getElementById("add").addEventListener("click", function() {
            
            //Get the question
            if (document.getElementById("Q1").value !== "") {
                if (document.getElementById("Q2").value !== "")
                    var qVal = "Q: What "+document.getElementById("is/are").value+document.getElementById("Q1").value+ " "+document.getElementById("of").value+" "+document.getElementById("Q2").value + "?"; //gets inputted string
                else
                    var qVal = "Q: What "+document.getElementById("is/are").value+" "+document.getElementById("Q1").value+ "?";
            }
            
            //Get the answer
            if (document.getElementById("A").value !== "") {
                var aVal = "A: "+document.getElementById("A").value + ".";
            }
            
            addLi(); //adds to list
            numQA++;
            if (numQA >= 8) {
                setTimeout(alertAttr, 0);
            }
            document.getElementById("Q1").value = ""; //clear entry field
            document.getElementById("Q2").value = ""; //clear entry field
            document.getElementById("A").value = ""; //clear entry field
        });
            
        //input bar listener when key "enter" is hit
        document.getElementById("A").addEventListener("keyup", function(event) {
            event.preventDefault();
            if (event.keyCode === 13 && document.getElementById("A").value !== "" && document.getElementById("Q1").value !== "") { //make sure space is hit and input box is not empty string
                document.getElementById("add").click(); //basically calls the button click function
            }
        });
            
        //next button listener
        $('#nextbtn').click(function(event){
            // alert("New Images Inbound!")
            rank();
            var questionArray = [];
            var answerArray = [];
            if (document.getElementById("list_q").getElementsByTagName("LI").length !== 0) {
                //retrieve the values and store it                
                $('#list_q LI').each(function(){
                    questionArray.push($(this).text());
                });
                $('#list_a LI').each(function(){
                    answerArray.push($(this).text());
                });
                console.log(resultArr);
                
                //remove the list
                $('li').remove();
                // get the value of CSRF token
                var CSRFtoken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
                console.log(questionArray);
                console.log(answerArray);
                
                //post method
                $.post('{% url 'phase01a' %}', {
                    'data_q': questionArray,  // might change due to gamep.py - phase01a
                    'data_a': answerArray,
                    'validation': resultArr,
                    csrfmiddlewaretoken : CSRFtoken
                }, function(data){});
                
               // reload the webpage to set new images
                var countdown = 3000;  // your countdown in milliseconds
                
                setTimeout(function() {
                    // hide your loading image after "countdown" milliseconds
                    document.getElementById("loading-image").setAttribute("style","display:none");
                    document.getElementById("bg-image").setAttribute("style", "display:block");
                    location.reload();
                }, countdown);
                // show your loading image
                document.getElementById("loading-image").setAttribute("style","display:block");
                document.getElementById("bg-image").setAttribute("style", "display:none");
                numQA = 0;
            }
            
        })
            
        //delete button listener
        $('#delete').click(function(event){
            // alert("New Images Inbound!")
            //var arrlen = document.getElementById("list_q").childNodes.length;
            var attrlist_q = document.getElementById("list_q");
            var attrlist_a = document.getElementById("list_a");
            var arrlen = document.getElementById("list_all").childNodes.length;
            var attrlist = document.getElementById("list_all");
            if (arrlen != 0) {
                attrlist.removeChild(attrlist.childNodes[arrlen - 1]);
                attrlist_q.removeChild(attrlist_q.childNodes[arrlen - 1]);
                attrlist_a.removeChild(attrlist_a.childNodes[arrlen - 1]);
                
            }
            //console.log(attrlist_q);
        })
        </script>

        <!-- add attributes to the question and answer lists -->
        <script>
            function addLi() {
                // get the whole question
                if (document.getElementById("Q2").value !== "")
                    var qVal = "Q: What "+document.getElementById("is/are").value+document.getElementById("Q1").value+ " "+document.getElementById("of").value+" "+document.getElementById("Q2").value + "?"; //gets inputted string
                else
                    var qVal = "Q: What "+document.getElementById("is/are").value+" "+document.getElementById("Q1").value+ "?";
                // get the whole answer
                var aVal = "A: "+document.getElementById("A").value+".";
                
                var txt_q = qVal; //inputted text
                var txt_a = aVal;
                var txtVal = qVal + ' \n' + aVal;
                //console.log(txtVal);
                
                
               var listNode_q = document.getElementById('list_q'),
                    liNode_q = document.createElement("LI"),
                    txtNode_q = document.createTextNode(txt_q);
                
                var listNode_a = document.getElementById('list_a'),
                    liNode_a = document.createElement("LI"),
                    txtNode_a = document.createTextNode(txt_a);
                
                
                
                var listNode = document.getElementById('list_all'),
                    liNode = document.createElement("LI"),
                    txtNode = document.createTextNode(txtVal);
                liNode.appendChild(txtNode);
                listNode.appendChild(liNode);
                
                
                liNode_q.appendChild(txtNode_q);
                listNode_q.appendChild(liNode_q);
                liNode_a.appendChild(txtNode_a);
                listNode_a.appendChild(liNode_a);
                
                console.log(listNode_q);
                
            }
        function alertAttr() {
            alert("maximum number of images 8 reached. Next images...");
            document.getElementById("nextbtn").click();
        }
    </script>

    </div> <!-- Row -->

    </div> <!-- Container-->

{% endblock %}