{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/step02.css' %}">
{% endblock %}
​
{% block content %}
<div class="container" style="padding-top: 20px; color: white; font-family: 'Numans', sans-serif">
    <head>
        <h1>Step 2 - Bias Judgement</h1>
        <div class="row" style="...">
            <div class="alert alert-warning" role="alert" style="display:inline-block;font-size: 15px">
                <strong>Q:</strong> Is the feature a common feature for faces,
                i.e. does the feature applies to all faces in real life?
            </div>
        </div>
        <hr>
    </head>
</div>
​
<body>
{{ form.non_field_errors }}
<!--​-->
<div class="container" style="color: white; font-family: 'Numans', sans-serif">
    <form method="post">
        <div class="container">
            <div class="row">
                {% csrf_token %}
                {% for field in form %}
                {{ field.errors }}
                <div class="col-sm-6">
                    <h3 style="font-family: 'Numans', sans-serif"><strong>{{ field.label_tag }}</strong></h3>
                    {{ field }}
                    <hr>
                </div>
                {% endfor %}
                ​
            </div>
             <button type="submit" class="btn btn-warning float-right mt-2">Submit</button>
        </div>
    </form>
    ​
</div>
</body>
</div>
{% endblock %}

​
